<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/scqu.css">
    <title>ScienceQuiz | {{ title }}</title>
    <link href="/static/css/scqu.css" rel="stylesheet">
</head>
<body class="no_ovl">
<img id="logo_head" src="/static/logo.svg" alt="MiNe-MINT Logo"/>
{% if username %}
    <span>Angemeldet als '{{ username }}'. <a href="/logout">Abmelden.</a></span>
{% endif %}
<!--<h1>{{ title }}</h1>-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
{% block body %}{% endblock %}
<!--
<hr/>
&copy; SFL Kepler-Seminar e.V. {{ year }}
-->
</body>
</html>
