{% extends "base.html" %}
{% block body %}
    <p class="question" id="question">Loading...</p>
    <div class="answerbox">
        <div id="a" class="answer">
            <div class="ansletter">A</div>
            <div class="anstext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren,
            </div>
        </div>
        <div id="b" class="answer">
            <div class="ansletter">B</div>
            <div class="anstext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</div>
        </div>
        <div id="c" class="answer">
            <div class="ansletter">C</div>
            <div class="anstext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren,
            </div>
        </div>
        <div id="d" class="answer">
            <div class="ansletter">D</div>
            <div class="anstext">Lorem ipsum</div>
        </div>
    </div>
    <div id="controls">
        Frage <span class="question_number"></span>/<span class="quiz_question_count"></span> | Korrekte Lösung: <span
            class="control_correct"></span> | <a href="#"
                                               id="prev_question">Vorherige
        Frage</a> <a href="#" id="next_question">Nächste Frage</a> | Team: <span class="team_name"></span> | 
    <a href="#" id="pause_quiz">Quiz pausieren</a>
    <a href="#" id="resume_quiz">Quiz fortsetzen</a> | 
    <!--<a href="#" id="cancel_quiz">Quiz abbrechen</a>-->
    <a href="#" id="finish_quiz">Quiz abschliessen</a>
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/static/js/quiz.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.addEventListener('keydown', function (event) {
                if (!running) {
                    return
                }
                switch (event.keyCode) {
                    case 65:
                        event.preventDefault();
                        $('#a').click();
                        break;
                    case 66:
                        event.preventDefault();
                        $('#b').click();
                        break;
                    case 67:
                        event.preventDefault();
                        $('#c').click();
                        break;
                    case 68:
                        event.preventDefault();
                        $('#d').click();
                        break;
                    default:
                        break;
                }
            });
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/quiz');

            socket.on('meta_data', function (msg) {
                $('#name').html(msg.display_name);
                if (msg.teams.length > 0) {
                    team = msg.teams[0];
                }
            });
            socket.on('question', function (msg) {
                unselect();
                if (!running) {
                    running = true;
                    $('#full').addClass('hidden');
                }
                var question = msg.question;
                $('#question').html(question.question).attr("data-ques_id", question.id);
                for (var i = 0; i < 4; i++) {
                    var answer = question.answers[i];
                    if (answer === undefined) {
                        break;
                    }
                    var elem = $('#' + 'abcd'[i]);
                    elem.find('.anstext').html(answer.answer);
                    elem.attr("data-ans_id", answer.id);
                    if(team.id in msg.question.team_answers && msg.question.team_answers[team.id] == answer.id) {
                        window.console.debug('c2');
                        elem.find('ansletter').addClass('permahighlight');
                        $(elem).children().each(function (i, k) {
                            $(k).addClass("selected");
                        });
                    }
                }
            });
            socket.on('sleep', function (msg) {
                if (running) {
                    running = false;
                }
            });
            socket.on('wakeup', function (msg) {
                if (!running) {
                    running = true;
                }
            });
            socket.on('selection', function (msg) {
                var answer_id = msg.selected;
                $("[data-ans_id=" + answer_id + "] .anstext").click();
            });
            socket.on('answer_response', function (msg) {
                var corr = msg.correct;
                if ($(".selected").parent().attr("data-ans_id") != corr) {
                    var ele = $(".selected").parent().find(".ansletter");
                    ele.removeClass();
                    ele.attr("class", "ansletter wrong");
                    var eles = $("[data-ans_id=" + corr + "]").find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter correct");
                } else {
                    var eles = $("[data-ans_id=" + corr + "]").find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter correctchoise");
                }
            });

            $(".answer").each(function (i, v) {
                $(v).hover(function () {
                    if (!selected)
                        $(v).find('.ansletter').toggleClass("highlight");
                });
            });

            $(".answer").each(function (i, v) {
                $(v).on('click', function () {
                    if (!selected) {
                        $(".selected").removeClass("selected");
                        $(v).find('.ansletter').addClass("permahighlight");
                        $(v).children().each(function (i, k) {
                            $(k).addClass("selected");
                        });
                        socket.emit('answer_selected', {team_id: team.id, answer_id: $(v).attr("data-ans_id")});
                        window.setTimeout(function () {
                            socket.emit('answer_selected_result', {});
                        }, 1500);

                        selected = true;
                    }
                });
            });

            $('#next_question').on('click', function () {
                socket.emit('next_question', {});
            });

            $('#prev_question').on('click', function () {
                socket.emit('prev_question', {});
            });

            $('#pause_quiz').on('click', function () {
                socket.emit('pause_quiz', {});
            });
            $('#resume_quiz').on('click', function () {
                socket.emit('resume_quiz', {});
            });

            $('#cancel_quiz').on('click', function () {
                socket.emit('cancel_quiz', {}, function () {
                    window.location = 'http://' + document.domain + ':' + location.port + '/manage/arrange';
                });
            });
            $('#finish_quiz').on('click', function () {
                socket.emit('finish_quiz', {});
            });

        });
    </script>
{% endblock %}
