{% extends "base.html" %}
{% block body %}
    <div class="clear"></div>
    <p class="question admin_small" id="question">Loading...</p>
    <div class="answerbox">
        <div id="at0" class="answer adminans">
            <div class="ansletter adminansletter">A</div>
        </div>
        <div id="bt0" class="answer adminans">
            <div class="ansletter adminansletter">B</div>
        </div>
        <div id="ct0" class="answer adminans">
            <div class="ansletter adminansletter">C</div>
        </div>
        <div id="dt0" class="answer adminans">
            <div class="ansletter adminansletter">D</div>
        </div>
    </div>
    <div class="answerbox">
        <div id="at1" class="answer adminans">
            <div class="ansletter adminansletter">A</div>
        </div>
        <div id="bt1" class="answer adminans">
            <div class="ansletter adminansletter">B</div>
        </div>
        <div id="ct1" class="answer adminans">
            <div class="ansletter adminansletter">C</div>
        </div>
        <div id="dt1" class="answer adminans">
            <div class="ansletter adminansletter">D</div>
        </div>
    </div>
    <div class="answerbox">
        <div id="at2" class="answer adminans">
            <div class="ansletter adminansletter">A</div>
        </div>
        <div id="bt2" class="answer adminans">
            <div class="ansletter adminansletter">B</div>
        </div>
        <div id="ct2" class="answer adminans">
            <div class="ansletter adminansletter">C</div>
        </div>
        <div id="dt2" class="answer adminans">
            <div class="ansletter adminansletter">D</div>
        </div>
    </div>
    <div class="answerbox">
        <div id="at3" class="answer adminans">
            <div class="ansletter adminansletter">A</div>
        </div>
        <div id="bt3" class="answer adminans">
            <div class="ansletter adminansletter">B</div>
        </div>
        <div id="ct3" class="answer adminans">
            <div class="ansletter adminansletter">C</div>
        </div>
        <div id="dt3" class="answer adminans">
            <div class="ansletter adminansletter">D</div>
        </div>
    </div>
    <div id="controls">
        Frage <span class="question_number"></span>/<span class="quiz_question_count"></span> | Korrekte Lösung: <span
            class="control_correct"></span> | <a href="#"
                                               id="prev_question">Vorherige
        Frage</a> <a href="#" id="open_answer">Antworten Aufdecken (Finale)</a> 
    <a href="#" id="next_question">Nächste Frage</a> | Team: <span class="team_name"></span> | 
    <a href="#" id="pause_quiz">Quiz pausieren</a>
    <a href="#" id="resume_quiz">Quiz fortsetzen</a> | 
    <!--<a href="#" id="cancel_quiz">Quiz abbrechen</a>-->
    <a href="#" id="finish_quiz">Quiz abschliessen</a>
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/static/js/quiz.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            document.addEventListener('keydown', function (event) {
                if (!running) {
                    return
                }
                switch (event.keyCode) {
                    case 65:
                        event.preventDefault();
                        $('#a').click();
                        break;
                    case 66:
                        event.preventDefault();
                        $('#b').click();
                        break;
                    case 67:
                        event.preventDefault();
                        $('#c').click();
                        break;
                    case 68:
                        event.preventDefault();
                        $('#d').click();
                        break;
                    default:
                        break;
                }
            });
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/quiz');

            socket.on('meta_data', function (msg) {
                $('#name').html(msg.display_name);
                if (msg.teams.length > 0) {
                    team = msg.teams[0];
                    teams = msg.teams;
                }
            });
            socket.on('question', function (msg) {
                unselect();
                if (!running) {
                    running = true;
                    $('#full').addClass('hidden');
                }
                var question = msg.question;
                $('#question').html(question.question).attr("data-ques_id", question.id);
                for (var i = 0; i < 4; i++) {
                    var answer = question.answers[i];
                    if (answer === undefined) {
                        break;
                    }
                    for (var tn = 0; tn < Math.min(4, teams.length); tn++) {
                        var elem = $('#' + 'abcd'[i] + 't' + tn);
                        elem.find('.anstext').html(answer.answer);
                        elem.attr("data-ans_id", answer.id);
                        elem.attr("data-team_id", teams[tn].id);
                        if(teams[tn].id in msg.question.team_answers && msg.question.team_answers[teams[tn].id] == answer.id) {
                            window.console.debug('c2');
                            elem.find('ansletter').addClass('permahighlight');
                            $(elem).children().each(function (i, k) {
                                $(k).addClass("selected");
                            });
                        }
                    }
                }
            });
            socket.on('sleep', function (msg) {
                if (running) {
                    running = false;
                }
            });
            socket.on('wakeup', function (msg) {
                if (!running) {
                    running = true;
                }
            });
            socket.on('selection', function (msg) {
                var answer_id = msg.selected;
                $("[data-ans_id=" + answer_id + "] .anstext").click();
            });
            socket.on('answer_response', function (msg) {
                var corr = msg.correct;
                if ($(".selected").parent().attr("data-ans_id") != corr) {
                    var ele = $(".selected").parent().find(".ansletter");
                    ele.removeClass();
                    ele.attr("class", "ansletter adminansletter wrong");
                    var eles = $("[data-ans_id=" + corr + "]").find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter adminansletter correct");
                } else {
                    var eles = $("[data-ans_id=" + corr + "]").find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter adminansletter correctchoise");
                }
            });

            $(".answer").each(function (i, v) {
                $(v).hover(function () {
                    if (!selected)
                        $(v).find('.ansletter').toggleClass("highlight");
                });
            });

            $(".answer").each(function (i, v) {
                $(v).on('click', function () {
                    if (!selected || teams.length == 4) {
                        $(".selected").removeClass("selected");
                        $(v).find('.ansletter').addClass("permahighlight");
                        $(v).children().each(function (i, k) {
                            $(k).addClass("selected");
                        });
                        socket.emit('answer_selected', {team_id: $(v).attr("data-team_id"), answer_id: $(v).attr("data-ans_id")});
                        window.setTimeout(function () {
                            socket.emit('answer_selected_result', {'mode': 'auto'});
                        }, 1500);

                        selected = true;
                    }
                });
            });

            $('#next_question').on('click', function () {
                socket.emit('next_question', {});
            });

            $('#open_answer').on('click', function () {
                socket.emit('answer_selected_result', {'mode': 'manual'});
            });

            $('#prev_question').on('click', function () {
                socket.emit('prev_question', {});
            });

            $('#prev_question').on('click', function () {
                socket.emit('prev_question', {});
            });


            $('#pause_quiz').on('click', function () {
                socket.emit('pause_quiz', {});
            });
            $('#resume_quiz').on('click', function () {
                socket.emit('resume_quiz', {});
            });

            $('#cancel_quiz').on('click', function () {
                socket.emit('cancel_quiz', {}, function () {
                    window.location = 'http://' + document.domain + ':' + location.port + '/manage/arrange';
                });
            });
            $('#finish_quiz').on('click', function () {
                socket.emit('finish_quiz', {});
            });

        });
    </script>
{% endblock %}
