{% extends "base.html" %}
{% block body %}
    <p class="question" id="question">Loading...</p>
    <div class="answerbox">
        <div id="a" class="answer">
            <div class="ansletter">A</div>
            <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren,
            </div>
        </div>
        <div id="b" class="answer">
            <div class="ansletter">B</div>
            <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</div>
        </div>
        <div id="c" class="answer">
            <div class="ansletter">C</div>
            <div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren,
            </div>
        </div>
        <div id="d" class="answer">
            <div class="ansletter">D</div>
            <div class="text">Lorem ipsum</div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
        var running = false;
        $(document).ready(function () {
            document.addEventListener('keydown', function (event) {
                if (!running) {
                    return
                }
                switch (event.keyCode) {
                    case 65:
                        event.preventDefault();
                        $('#a').click();
                        break;
                    case 66:
                        event.preventDefault();
                        $('#b').click();
                        break;
                    case 67:
                        event.preventDefault();
                        $('#c').click();
                        break;
                    case 68:
                        event.preventDefault();
                        $('#d').click();
                        break;
                    default:
                        break;
                }
            });
            var socket = io.connect('http://' + document.domain + ':' + location.port + '/quiz');

            socket.on('question', function (msg) {
                if(!running) {
                    running = true;
                    $('#full').addClass('hidden');
                }
                $('#question').html(msg.question);
                $('#a .text').html(msg.a);
                $('#b .text').html(msg.b);
                $('#c .text').html(msg.c);
                $('#d .text').html(msg.d);
            });
            socket.on('sleep', function (msg) {
                if (!running) {
                    running = false;
                    $('#full').removeClass('hidden');
                }
            });
            socket.on('answer_response', function (msg) {
                var corr = msg.correct;
                if ($(".selected").parent().attr("id") != corr) {
                    var ele = $(".selected").parent().find(".ansletter");
                    ele.removeClass();
                    ele.attr("class", "ansletter wrong");
                    var eles = $("#" + corr).find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter correct");
                } else {
                    var eles = $("#" + corr).find(".ansletter");
                    eles.removeClass();
                    eles.attr("class", "ansletter correctchoise");
                }
            });

            var selected = false;
            $(".answer").each(function (i, v) {
                $(v).hover(function () {
                    if (!selected)
                        $(v).find('.ansletter').toggleClass("highlight");
                });
            });

            $(".answer").each(function (i, v) {
                $(v).on('click', function () {
                    if (!selected) {
                        $(v).find('.ansletter').addClass("permahighlight");
                        $(v).children().each(function (i, k) {
                            $(k).addClass("selected");
                        });
                        window.setTimeout(function () {
                            socket.emit('answer_selected', {sel: $(v).context.id});
                        }, 1500);

                        selected = true;
                    }
                });
            });
        });
    </script>
    <div id="full">
        <div class="centered">
            <img id="logo" src="/static/logo.svg"/>
            <h1>ScienceQuiz</h1>
        </div>
    </div>
{% endblock %}