{% extends "manage/manage_nav.html" %}
{% set active = 'active_sessions' %}
{% block title %}
    Aktive Sessions
{% endblock %}
{% block body %}
    <table class="table">
        <tr>
            <th>Raum</th>
            <th>Quiz</th>
            <th></th>
        </tr>
        {% for d in sessions %}
            <tr>
                <td>{{ d.device_token.name }}</td>
                <td>{{ d.quiz.name }}</td>
                <td><a href="/run/{{ d.device_token.token }}" class="btn btn-success"><span
                        class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                    <a href="/run_adm/{{ d.device_token.token }}" class="btn btn-primary">A<span
                            class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}