{% extends "manage/manage_nav.html" %}
{% set active = 'arrange' %}
{% block title %}
    Quizes zusammenstellen
{% endblock %}
{% block body %}
    <div class="pd"><a href="/manage/arrange/new" class="btn btn-success pull-right">Neues Quiz</a><span
            class="clearfix"></span></div>

    <table class="left-form-table table">
        <tr>
            <th>Name</th>
            <th>Jahr</th>
            <th>Öffentlich?</th>
            <th></th>
        </tr>
        {% for q in questions %}
            <tr>
                <td>{{ q.name }}</td>
                <td>{{ q.year }}</td>
                <td><input type="checkbox" class="disabled" {% if q.public %} checked{% endif %}/></td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}