{% extends "manage/manage_nav.html" %}
{% set active = 'arrange' %}
{% block title %}
    {% if q %}
    Quiz bearbeiten
    {% else %}
    Neues Quiz zusammenstellen
    {% endif %}
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quiz</h3>
        </div>

        <div class="panel-body">
            <form method="post">
                <table class="form-table">
                    <tr>
                        <th><label>Name</label></th>
                        <td colspan="2"><input type="text" class="form-control" name="name" {% if q %}value="{{ q.name }}"{% endif %}/></td>
                    </tr>
                    <tr>
                        <th><label>Jahr</label></th>
                        <td colspan="2"><input type="number" class="form-control" name="year" placeholder="{{ year }}" {% if q %}value="{{ q.year }}"{% endif %}/></td>
                    </tr>
                    <tr>
                        <th><label>Öffentlich?</label></th>
                        <td><input type="checkbox" name="public" {% if q and q.public %}checked{% endif %}/></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success pull-right">
                                {% if not q %}Anlegen{% else %}Bearbeiten{% endif %}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {% if q %}
    {% for question in q.questions %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">{{ question.question }}</h3>
      </div>
      <div class="panel-body">
          {% if isinstance(question, QuestionChoose) %}
            <ul>
            {% for a in question.answers %}
            <li>{{ a.answer }}</li>
            {% endfor %}
            </ul>
          {% elif isinstance(question, QuestionEstimate) %}
          {{ question.correct_value }}
          {% endif %}
          <form class="pull-right" method="post" action="/manage/arrange/{{ q.id }}/delete">
            <input type="hidden" name="id" value="{{ question.id }}" />
            <button type="submit" name="delete" class="btn btn-danger"><span
                class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          </form>
      </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}
