{% extends "manage/manage_nav.html" %}
{% set active = 'rooms' %}
{% block title %}
    Räume
{% endblock %}
{% block body %}
    <table class="table table-striped">
        <tr>
            <th colspan="4">Neuer Raum</th>
        </tr>
        <form method="post">
            <tr>
                <td colspan="3">
                    <input type="text" class="form-control" name="newtoken"/>
                </td>
                <td>
                    <button type="submit" class="btn btn-success pull-right">Anlegen</button>
                </td>
            </tr>
        </form>
        <tr>
            <th>Name</th>
            <th>Token</th>
            <th colspan="2"></th>
        </tr>
        {% for dev in devices %}
            <tr>
                <td>{{ dev.name }}</td>
                <td>
                    <pre>{{ dev.token }}</pre>
                </td>
                <td><a href="/run/{{ dev.token }}" class="btn btn-success"><span
                        class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                    <a href="/run_adm/{{ dev.token }}" class="btn btn-primary">A<span
                            class="glyphicon glyphicon-play" aria-hidden="true"></span></a></td>
                <td>
                    <form method="post" class="form-inline" action="/manage/room/{{ dev.id }}">
                        <button type="submit" name="delete" class="btn btn-danger pull-right"><span
                                class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}