{% extends "base_bootstrap.html" %}
{% block nav %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ScienceQuiz</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if active == 'dash' %}class="active"{% endif %}><a href="/manage">Dashboard</a></li>
                    <li {% if active == 'questions' %}class="active"{% endif %}><a href="/manage/questions">Fragen</a>
                    </li>
                    <li {% if active == 'cat' %}class="active"{% endif %}><a href="/manage/categories">Kategorien</a>
                    </li>
                    <li {% if active == 'arrange' %}class="active"{% endif %}><a href="/manage/arrange">Quizzes</a></li>
                    <li {% if active == 'teams' %}class="active"{% endif %}><a href="/manage/teams">Teams</a></li>
                    <li {% if active == 'sessions' %}class="active"{% endif %}><a href="/manage/sessions">Sessions</a></li>
                <li {% if active == 'device_tokens' %}class="active"{% endif %}><a href="/manage/clients">Clients</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if active == 'displays' %}class="active"{% endif %}><a href="/manage/displays">Aktive Displays</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}
