{% extends "manage/manage_nav.html" %}
{% set active = 'questions' %}
{% block title %}
    Fragen
{% endblock %}
{% block body %}
    <div class="pd"><a href="/manage/questions/new" class="btn btn-success pull-right">Neue Frage anlegen</a><span
            class="clearfix"></span></div>
    {% for c in categories %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ c.name }}</div>
            <table class="table">
                {% for q in c.questions %}
                    <tr>
                        <td>{{ q.question }}
                                <span class="label label-success">{{ q.type.name }}</span>
                            {% for quiz in q.quizzes %}
                                <span class="label {% if quiz.public %}label-danger{% else %}label-default{% endif %}"><a
                                        href="/manage/arrange/{{ quiz.id }}">{{ quiz.name }}</a></span>{% endfor %}</td>
                        <td>
                        <span class="pull-right">
                        <a class="btn btn-primary" href="/manage/question/{{ q.id }}/edit"><span
                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"><span
                                        class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span
                                        class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for quiz in quizzes %}
                                        <li>
                                            <a href="/manage/arrange/{{ quiz.id }}/add?id={{ q.id }}">{{ quiz.name }}</a>
                                        </li>
                                    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="/manage/arrange/new">Neues Quiz anlegen</a></li>
                                </ul>
                            &nbsp;<form class="pull-right" method="post" action="/manage/question/{{ q.id }}/edit">
                                <button type="submit" name="delete" class="btn btn-danger"><span
                                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                            </form>
                            </div>
                        </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
