{% extends "manage/manage_nav.html" %}
{% set active = 'questions' %}
{% block title %}
    {% if q %}Frage bearbeiten{% else %}Neue Frage {% endif %}
{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Frage</h3>
        </div>

        <div class="panel-body">
            <form method="post" enctype="multipart/form-data">
                <table class="form-table">
                    <tr>
                        <th><label>Frage</label></th>
                        <td colspan="2"><textarea class="form-control" name="question">{% if q %}{{ q.question }}{% endif %}</textarea></td>
                    </tr>
                    <tr>
                        <th><label>Bild</label></th>
                        <td><input type="file" name="question_image"></td>
                        <td>{% if q and q.image_file_name %}<img class="image-preview" src="/{{ upload_folder }}/{{ q.image_file_name }}"/>{% endif %}</td>
                    </tr>
                    <tr>
                        <th><label>Kategorie</label></th>
                        <td colspan="2"><select class="form-control" name="category">
                            <option disabled value="0" name="category">Bitte wählen...</option>
                            {% for cat in categories %}
                                <option value="{{ cat.id }}"
                                        {% if q and cat.id == q.category %}selected{% endif %}>{{ cat.name }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    {% if not q or isinstance(q, QuestionChoose) %}
                    <tr>
                        <th><label>Multiple-Choice Frage</label></th>
                        <td><input type="radio" {% if not q or isinstance(q, QuestionChoose) %}checked{% endif %} name="type"
                                value="{{ QuestionType.choose.name }}"/></td>
                    </tr>
                    <tr>
                        <th><label>A</label></th>
                        {% if q %}<input type="hidden" name="aid" value="{{ q.answers[0].id }}"/>{% endif %}
                        <td><textarea class="form-control" name="ansA">{% if q %}{{ q.answers[0].answer }}{% endif %}</textarea></td>
                        <td><input type="radio" {% if not q or q.correct_answer == q.answers[0].id %}checked{% endif %} name="correct"
                                   value="a"/></td>
                    </tr>
                    <tr>
                        <th><label>B</label></th>
                        {% if q %}<input type="hidden" name="bid" value="{{ q.answers[1].id }}"/>{% endif %}
                        <td><textarea class="form-control" name="ansB">{% if q %}{{ q.answers[1].answer }}{% endif %}</textarea></td>
                        <td><input type="radio" {% if q and q.correct_answer == q.answers[1].id %}checked{% endif %} name="correct"
                                   value="b"/></td>
                    </tr>
                    <tr>
                        <th><label>C</label></th>
                        {% if q %}<input type="hidden" name="cid" value="{{ q.answers[2].id }}"/>{% endif %}
                        <td><textarea class="form-control" name="ansC">{% if q %}{{ q.answers[2].answer }}{% endif %}</textarea></td>
                        <td><input type="radio" {% if q and q.correct_answer == q.answers[2].id %}checked{% endif %} name="correct"
                                   value="c"/></td>
                    </tr>
                    <tr>
                        <th><label>D</label></th>
                        {% if q %}<input type="hidden" name="did" value="{{ q.answers[3].id }}"/>{% endif %}
                        <td><textarea class="form-control" name="ansD">{% if q %}{{ q.answers[3].answer }}{% endif %}</textarea></td>
                        <td><input type="radio" {% if q and q.correct_answer == q.answers[3].id %}checked{% endif %} name="correct"
                                   value="d"/></td>
                    </tr>
                    {% endif %}
                    {% if not q or isinstance(q, QuestionEstimate) %}
                    <tr>
                        <th><label>Sch&auml;tzfrage</label></th>
                        <td><input type="radio" {% if q and isinstance(q, QuestionEstimate) %}checked{% endif %} name="type"
                                value="{{ QuestionType.estimate.name }}"/></td>
                    </tr>
                    <tr>
                        <th><label>Korrekter Wert</label></th>
                        <td><input type="text" class="form-control" name="correct_value" value="{% if q and isinstance(q, QuestionEstimate) %}{{ q.correct_value }}{% endif %}"\></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>
                        </td>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success pull-right">
                                {% if not q %}Anlegen{% else %}Bearbeiten{% endif %}</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
