{% extends "manage/manage_nav.html" %}
{% set active = 'sessions' %}
{% block title %}
    Sessions
{% endblock %}
{% block body %}
    <div class="pd"><a href="/manage/sessions/new" class="btn btn-success pull-right">Neue Session anlegen</a><span
            class="clearfix"></span></div>
    {% for s in sessions %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ s.quiz.name }} in {{ s.device_token.name }}
                {% if s.state|string == 'SessionState.pending' %}
                    <span class="label label-default">Ausstehend</span>
                    <form method="post" class="pull-right" style="display: inline">
                        <input type="hidden" name="action" value="run">
                        <input type="hidden" value="{{ s.id }}" name="session">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    </form>
                    <span class="clearfix"></span>
                {% elif s.state|string == 'SessionState.running' %}
                    <span class="label label-primary">In Ausführung</span>
                    <form method="post" class="pull-right" style="display: inline">
                        <input type="hidden" name="action" value="cancel">
                        <input type="hidden" value="{{ s.id }}" name="session">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
                    </form>
                    <span class="clearfix"></span>
                {% elif s.state|string == 'SessionState.finished' %}
                    <span class="label label-primary">Auswertung</span>
                    <form method="post" class="pull-right" style="display: inline">
                        <input type="hidden" name="action" value="close">
                        <input type="hidden" value="{{ s.id }}" name="session">
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    </form>
                    <span class="clearfix"></span>
                {% elif s.state|string == 'SessionState.closed' %}
                    <span class="label label-success">Abgeschlossen</span>
                {% endif %}

            </div>
            <table class="table">
                <tr>
                    <th>Team</th><th>Score</th>
                </tr>
                {% for ts in s.team_sessions %}
                    <tr>
                        <td>{{ ts.team.name }}</td>
                        {% if s.state|string != 'SessionState.pending' %}
                        <td>{{ ts.score() }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            <b>Score: TODO</b>
        </div>
    {% endfor %}
{% endblock %}
