{% extends "manage/manage_nav.html" %}
{% set active = 'teams' %}
{% block title %}
    Teams
{% endblock %}
{% block body %}
    <div class="pd"><a href="/manage/teams/new" class="btn btn-success pull-right">Neues Team anlegen</a><span
            class="clearfix"></span></div>
    {% for t in teams %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ t.name }}
            </div>
            <table class="table">
                {% for m in t.members %}
                    <tr>
                        <td>{{ m.username }}</td>
                        <td>{{ m.display_name }}</td>
                    </tr>
                {% endfor %}
                <span class="pull-right">
                    <form method="post" action="/manage/team/{{ t.id }}/edit">
                        <a class="btn btn-primary" href="/manage/team/{{ t.id }}/edit"><span
                                class="glyphicon glyphicon-edit"
                                aria-hidden="true"></span>

                        </a>
                        <button class="btn btn-danger" name="delete"><span class="glyphicon glyphicon-trash"
                                                                           aria-hidden="true"></span>

                        </button>
                    </form>
                </span>
            </table>
        </div>
    {% endfor %}
{% endblock %}
